
<div class="h-full w-full flex flex-col justify-center items-center">

  <form class="flex flex-col w-full px-10 py-2 space-y-4 pt-6" [formGroup]="clientForm" (ngSubmit)="inserir()">
    <label class="font-bold" for="nome">Nome:</label>
    <input class="p-2 rounded-lg bg-gray-200" type="text" name="nome" id="nome" placeholder="nome" formControlName="nome" >

    <label class="font-bold" for="telefone">Telefone:</label>
    <input class="p-2 rounded-lg bg-gray-200" type="number" name="telefone" placeholder="(11) 91231-1234" id="telefone" formControlName="telefone">

    <button class="p-2 rounded-lg bg-green-500 text-white font-bold" type="submit">Enviar</button>
  </form>

  <span class="h-12"></span>

  <h2 class="text-xl font-bold" >Listar </h2>

  <ul class="w-full p-10 rounded-lg">
    @for (item of clientes; track $index){
      <li class="flex justify-between items-center border-2 border-gray-300 px-4 py-1">
        <p>{{item.id}}</p>
        <p>{{item.nome}}</p>
        <p>{{item.telefone}}</p>
        <input class="px-4 py-2 bg-red-600 text-white rounded-lg" type="button" name="remover" id="remover" value="remover" (click)="remover(item.id)">
      </li>


    }
  </ul>


</div>

